/* Keyframes for flip animation */
@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

/* Container to handle 3D perspective */
.page-flip-wrapper {
  perspective: 1000px;
}

/* The card that will be flipped */
.flip-page {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  /* No animation by default */
}

/* Add animation class when state is true */
.start-animation {
  animation: flip 1s ease-in-out forwards;
}

/* Inner card that will be rotated */
.flip-page-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* Front side of the card */
.flip-page-front,
.flip-page-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Back side of the card */
.flip-page-back {
  transform: rotateY(180deg);
}
